<h1>{{model.title}}</h1>
<p>{{model.text}}</p>

<hr>

{{#each model.comments as |comment|}}
  {{blog-comment comment=comment}}
{{/each}}

<hr>

<h2>Neuer Kommentar</h2>

{{comment-form submit=(action "createComment")}}